</main>

<footer class="bg-navbar footer">
  <div class="container">
    <h5 class="display-6 text-center">GET IN TOUCH</h5>
  </div>
  <ul class="list-inline text-center">
    <li class="list-inline-item"><a href="https://www.facebook.com/0anill/" id="facebook" target="_blank"><i class="bi bi-facebook" style="font-size: 2rem;"></i></a></li>
    <li class="list-inline-item"><a href="https://twitter.com/0anill" id="twitter" target="_blank"><i class="bi bi-twitter" style="font-size: 2rem;"></i></a></li>
    <li class="list-inline-item"><a href="https://www.instagram.com/anillyuksel/" id="instagram" target="_blank"><i class="bi bi-instagram" style="font-size: 2rem;"></i></a></li>
    <li class="list-inline-item"><a href="https://github.com/AnilYuksel" id="github" target="_blank"><i class="bi bi-github" style="font-size: 2rem;"></i></a></li>
    <li class="list-inline-item"><a href="https://www.linkedin.com/in/an%C4%B1l-y%C3%BCksel-64b88b181/" id="linkedin" target="_blank"><i class="bi bi-linkedin" style="font-size: 2rem;"></i></a></li>
  </ul> 
  <div class="container-fluid text-center">
    &copy; 2022 ANIL YUKSEL
  </div>
</footer>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>